<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= title %></h5>
    <div>이름 : <span><%= userInfo.name %></span></div>
    <div>성별 : <span><%= userInfo.gender %></span></div>
    <div>생년월일 : <span>
        <%= userInfo.year%>년 
        <%= userInfo.month%>월 
        <%= userInfo.day%>일
    </span></div>
    <div>취미 : <span><%= userInfo.hobby%></span></div>
</body>
</html>